<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USD</key>
	<integer>2</integer>
	<key>EUR</key>
	<integer>2</integer>
	<key>CNY</key>
	<integer>2</integer>
	<key>GBP</key>
	<integer>2</integer>
	<key>RUB</key>
	<integer>2</integer>
</dict>
</plist>
