<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>NSDictionary</string>
		<key>url</key>
		<string>https://api.bitcoinaverage.com/ticker/all</string>
		<key>name</key>
		<string>Bitcoin Average</string>
		<key>coinstruct</key>
		<dict>
			<key>buyPrice</key>
			<string>ask</string>
			<key>sellPrice</key>
			<string>bid</string>
			<key>name</key>
			<array>
				<string>name</string>
				<string>BTC</string>
			</array>
			<key>highPrice</key>
			<string>last</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>NSDictionary</string>
		<key>url</key>
		<string>https://bittrex.com/api/v1.1/public/getmarketsummaries</string>
		<key>name</key>
		<string>Bittrex</string>
		<key>coinstruct</key>
		<dict>
			<key>buyPrice</key>
			<string>Ask</string>
			<key>sellPrice</key>
			<string>Bid</string>
			<key>name</key>
			<string>MarketName</string>
			<key>highPrice</key>
			<string>High</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>NSDictionary</string>
		<key>url</key>
		<string>https://c-cex.com/t/prices.json</string>
		<key>name</key>
		<string>C-Cex</string>
		<key>coinstruct</key>
		<dict>
			<key>needsinverse</key>
			<true/>
			<key>buyPrice</key>
			<string>lastsell</string>
			<key>sellPrice</key>
			<string>lastbuy</string>
			<key>name</key>
			<string>name</string>
			<key>highPrice</key>
			<string>high</string>
		</dict>
	</dict>
	<dict>
		<key>type</key>
		<string>NSDictionary</string>
		<key>url</key>
		<string>http://pubapi.cryptsy.com/api.php?method=marketdatav2</string>
		<key>name</key>
		<string>Cryptsy</string>
		<key>coinstruct</key>
		<dict>
			<key>needsinverse</key>
			<true/>
			<key>symbol</key>
			<string>primarycode</string>
			<key>buyPrice</key>
			<dict>
				<key>buyorders</key>
				<string>price</string>
			</dict>
			<key>sellPrice</key>
			<dict>
				<key>sellorders</key>
				<string>price</string>
			</dict>
			<key>name</key>
			<string>label</string>
			<key>highPrice</key>
			<string>lasttradeprice</string>
		</dict>
	</dict>
</array>
</plist>
