<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SYS</key>
	<dict>
		<key>url</key>
		<string>http://blockexperts.com/api?coin=sys&amp;action=getbalance&amp;address=%@</string>
		<key>name</key>
		<string>Syscoin</string>
	</dict>
	<key>WKC</key>
	<dict>
		<key>url</key>
		<string>http://explorer.wankcoin.com/q/addressbalance/%@</string>
		<key>name</key>
		<string>Wankcoin</string>
	</dict>
	<key>TIT</key>
	<dict>
		<key>url</key>
		<string>http://blockexperts.com/api?coin=tit&amp;action=getbalance&amp;address=%@</string>
		<key>name</key>
		<string>Titcoin</string>
	</dict>
	<key>BTC</key>
	<dict>
		<key>url</key>
		<string>https://blockchain.info/q/addressbalance/%@</string>
		<key>name</key>
		<string>Bitcoin</string>
	</dict>
	<key>XPY</key>
	<dict>
		<key>url</key>
		<string>http://chainz.cryptoid.info/xpy/api.dws?q=getbalance&amp;a=%@</string>
		<key>name</key>
		<string>Paycoin</string>
	</dict>
	<key>BC</key>
	<dict>
		<key>url</key>
		<string>http://chainz.cryptoid.info/blkt/api.dws?q=getbalance&amp;a=%@</string>
		<key>name</key>
		<string>Blackcoin</string>
	</dict>
	<key>AUR</key>
	<dict>
		<key>url</key>
		<string>http://chainz.cryptoid.info/aur/api.dws?q=getbalance&amp;a=%@</string>
		<key>name</key>
		<string>Auroracoin</string>
	</dict>
	<key>CURE</key>
	<dict>
		<key>url</key>
		<string>http://chainz.cryptoid.info/cure/api.dws?q=getbalance&amp;a=%@</string>
		<key>name</key>
		<string>Curecoin</string>
	</dict>
	<key>DARK</key>
	<dict>
		<key>url</key>
		<string>http://chainz.cryptoid.info/drkc/api.dws?q=getbalance&amp;a=%@</string>
		<key>name</key>
		<string>Darkcoin</string>
	</dict>
	<key>UPM</key>
	<dict>
		<key>url</key>
		<string>http://chainz.cryptoid.info/upm/api.dws?q=getbalance&amp;a=%@</string>
		<key>name</key>
		<string>Unobtanium</string>
	</dict>
</dict>
</plist>
